---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

{% comment %}
*
* Add text before the three columns.
*
{% endcomment %}
<div class="row">
    <div class="medium-12 columns">
        <h2 class="font-size-h3 t10">Welcome!</h2>
        <p>This is the site for Carrollton Manor, a Severna Park, MD, USA community.</p>
        <p>Find lots of community resources on this site.  Also see our Facebook <a href="https://www.facebook.com/carrolltonmanorpage/?fref=ts">public</a> and <a href="https://www.facebook.com/groups/312436932265345/?fref=ts">closed group</a> pages for more.
    </div><!-- /.medium-12.columns -->
</div>

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t10">
    {% if page.widget-1.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-1.url }}">{% if page.widget-1.image %}<img src="{{ site.urlimg }}/{{ page.widget-1.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-1.video %}{{ page.widget-1.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-1.title }}</h2>
        <p>{{ page.widget-1.text }}</p>
        <p><a class="button tiny radius" href="{{ page.widget-1.url }}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-2.url }}">{% if page.widget-2.image %}<img src="{{ site.urlimg }}/{{ page.widget-2.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-2.video %}{{ page.widget-2.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-2.title }}</h2>
        <p>{{ page.widget-2.text }}</p>
        <p><a class="button tiny radius" href="{{ page.widget-2.url }}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-3.title }}</h2>
        <p>{{ page.widget-3.text }}</p>
        <p><a class="button tiny radius" href="{{ page.widget-3.url }}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
